/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.log{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.log header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 1% 0%;
}
header b{
  font-size: 30px;
}
header button{
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 20px;
}
.banner{
  width: 100%;
  text-align: center;
  padding: 3% 0%;
}
.banner p{
  font-size: 30px;
}
footer{
  width: 100%;
  text-align: center;
  background-color: aqua;
  padding: 1% 0%;
  border-radius: 20px;


}
footer b{
  font-size: 30px;
}
.out{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.out header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 1% 0%;
}
header b{
  font-size: 30px;
}
header button{
  padding: 12px 30px;
  font-size: 20px;
}